<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <br>
    <br>
    <center>  <h1>글쓰기</h1> </center> 
    <div class="container my-3">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                제목<br>
                <input type="text" class="form-control"name="postname"><br>
                
                내용<br>
                <textarea rows="10" cols="50" class="form-control" name="contents"></textarea><br>
                <input type="file" class="form-control" name="mainphoto"><br>
                <input type="submit" class="form-control" value="글쓰기">
            </div>
        </form>
    </div>
</body>
</html>